.transaction-item {
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.minus {
  border-right: 4px solid #dc3545;
}
.plus {
  border-right: 4px solid #28a745;
}
.income {
  color: #28a745;
}
.expense {
  color: #dc3545
}
.add-transaction {
  margin-top: 20px;
  margin-bottom: 50px;
}
